<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Presenación virtual</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="google" content="notranslate">
    <link rel='stylesheet' type='text/css' media='screen' href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/public/uja.ico" />
</head>

<body>
    <main>
        <h1 class="error">Error 404</h1>
        <h2 class="error">La sesión: '<%=sesion%>' no existe para el usaurio <%=usuario%></h2>

    </main>
    <footer>
        <span>TFG: Servicio de presentación virtual controlado desde terminal móvil
            &emsp; | &emsp;
            Autor: Sergio Caballero Garrido &emsp; Tutor: Juan Carlos Cuevas Martínez</span>
    </footer>
</body>
</html>