html, body {
    height: 100%;
    margin: 0;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    background-color: #B2E9AF;
    text-align: center;
    padding: 10px;
}

/* Cabecera */
header{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: 10px;
}
.header_left{
    display: inline-block;
}
.header_center{
    margin-left: 20px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
}
.header_right{
    text-align: right;
    float: right;
}

/* div QR */
#div_qr {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ECECED;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Estilos para los errores*/
.error{
    text-align: center;
    padding-top: 50px;
}
h1.error{
    color: red;
    text-shadow: 2px 2px 3px rgb(97, 97, 97);
}
h2.error{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}