html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    background-color: #B2E9AF;
    text-align: center;
    padding: 10px;
}
/* div QR */
#div_qr {
    text-align: center;
}
#div_qr>h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    text-shadow: 1px 1px #027507;
}


/* Sidebar */
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ECECED;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

/* Estilos para los errores*/
.error{
    text-align: center;
    padding-top: 50px;
}
h1.error{
    color: red;
    text-shadow: 2px 2px 3px rgb(97, 97, 97);
}
h2.error{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}